---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_WJrq70ESU8eWYZANgInaYsyL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16eu1yJ4R6fOT5ApPeDYsYTU",
          "livemode": false,
          "created": 1440795902,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16eu1yJ4R6fOT5ApTO4zxkYU",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "QtkPXGspjizkswkR",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "68.58.204.37"
        }
  recorded_at: Fri, 28 Aug 2015 21:05:01 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16eu1yJ4R6fOT5ApPeDYsYTU&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_WJrq70ESU8eWYZANgInaYsyL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16eu1zJ4R6fOT5ApRxV9Zyix",
          "object": "charge",
          "created": 1440795903,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16eu1yJ4R6fOT5ApTO4zxkYU",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "QtkPXGspjizkswkR",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_16eu1zJ4R6fOT5ApXlCorj6u",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "a valid charge",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16eu1zJ4R6fOT5ApRxV9Zyix/refunds",
            "data": []
          }
        }
  recorded_at: Fri, 28 Aug 2015 21:05:02 GMT
recorded_with: VCR 2.9.3
