---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_WJrq70ESU8eWYZANgInaYsyL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1DKXYlJ4R6fOT5ApWy4gXQd9",
          "object": "token",
          "card": {
            "id": "card_1DKXYlJ4R6fOT5Apki8qZRz7",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2020,
            "fingerprint": "QtkPXGspjizkswkR",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.127.16.59",
          "created": 1539377315,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 12 Oct 2018 20:48:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&currency=usd&source=tok_1DKXYlJ4R6fOT5ApWy4gXQd9&description=a+valid+charge
    headers:
      Authorization:
      - Bearer sk_test_WJrq70ESU8eWYZANgInaYsyL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1DKXYmJ4R6fOT5ApbWvDLE5J",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1DKXYmJ4R6fOT5ApItn4nuMJ",
          "captured": true,
          "created": 1539377316,
          "currency": "usd",
          "customer": null,
          "description": "a valid charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 11,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1DKXYmJ4R6fOT5ApbWvDLE5J/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1DKXYlJ4R6fOT5Apki8qZRz7",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2020,
            "fingerprint": "QtkPXGspjizkswkR",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Fri, 12 Oct 2018 20:48:36 GMT
recorded_with: VCR 4.0.0
