---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_WJrq70ESU8eWYZANgInaYsyL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16eu1wJ4R6fOT5ApWBNIE6Kx",
          "livemode": false,
          "created": 1440795900,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16eu1wJ4R6fOT5ApWVg4Rd8P",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "zADjbGRnORTner09",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "68.58.204.37"
        }
  recorded_at: Fri, 28 Aug 2015 21:04:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16eu1wJ4R6fOT5ApWBNIE6Kx&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_WJrq70ESU8eWYZANgInaYsyL
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16eu1wJ4R6fOT5Apjib28e8k"
          }
        }
  recorded_at: Fri, 28 Aug 2015 21:04:59 GMT
recorded_with: VCR 2.9.3
