<ul class="nav nav-pills nav-stacked col-md-2">
  <li role="presentation" class="active"><a>Categories</a></li>
  <% @categories.each do |category| %>
    <li role="presentation"><%= link_to "#{category.name}", category_path(category) %></li>
  <% end %>
</ul>
