<% if obj.errors.any? %>
  <div class='row'>
    <div class='alert alert-errors span8'>
      <strong> There were some errors: </strong>
      <ul>
        <% obj.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
      </ul>
    </div>
  </div>
<% end %>
