<%= render 'shared/content_title', title: 'Frequently Asked Questions' %>

<div class="row">
  <div class='col-md-6'>
    <ul>
      <li>
        <p>
          Question: How long did it take to make this site?
          <br>
          Answer: Approximately 115 hours
        </p>
      </li>
      <li>
        <p>
          Question: Which web application framework did you use?
          <br>
          Answer: Ruby on Rails
        </p>
      </li>
      <li>
        <p>
          Question: Which 3rd party services did you use?
          <br>
          Answer:
          <ul>
            <li>
              Mailgun: for sending emails
            </li>
            <li>
              Stripe: to handle payments
            </li>
            <li>
              Omniauth: so that users can log in through Facebook and Google+
            </li>
            <li>
              Unicorn: web server
            </li>
            <li>
              Redis and Sidekiq: to handle background job processing
            </li>
            <li>
              RSpec: for testing
            </li>
          </ul>
        </p>
      </li>
      <li>
        <p>
          Question: What framework did you use for the site’s design?
          <br>
          Answer: <a href="http://getbootstrap.com/">Bootstrap</a>
        </p>
      </li>
      <li>
        <p>
          Question: What theme did you use?
          <br>
          Answer: <a href="http://bootswatch.com/cosmo/">Cosmo</a>
        </p>
      </li>
      <li>
        <p>
          Question: Are there any other useful links?
          <br>
          Answer:
          <ul>
            <li>
              <a href="http://ryanfait.com/resources/footer-stick-to-bottom-of-page/">Ryan Fait’s sticky footer helped me out a lot</a>
            </li>
            <li>
              Omniauth setup:
              <ul>
                <li>
                  http://railscasts.com/episodes/241-simple-omniauth
                </li>
                <li>
                  http://www.sitepoint.com/rails-authentication-oauth-2-0-omniauth/
                </li>
                <li>
                  http://railscasts.com/episodes/360-facebook-authentication?autoplay=true
                </li>
                <li>
                  http://stackoverflow.com/questions/11461084/handle-omniautherror-invali
                </li>
                <li>
                  http://stackoverflow.com/questions/10737200/how-to-rescue-omniauthstrategiesoauth2callbackerror
                </li>
              </ul>
            </li>
            <li>
              Omniauth testing:
              <ul>
                <li>
                  https://gist.github.com/kinopyo/1338738
                </li>
                <li>
                  https://github.com/intridea/omniauth/wiki/Integration-Testing
                </li>
                <li>
                  http://natashatherobot.com/rails-test-omniauth-sessions-controller/
                </li>
                <li>
                  http://wealsodocookies.com/posts/how-to-test-facebook-login-using-devise-omniauth-rspec-and-capybara/
                </li>
              </ul>
            </li>
            <li>
              Misc:
              <ul>
                <li>
                  https://dollarbeardclub.com
                </li>
                <li>
                  http://stackoverflow.com/questions/16268146/shoulda-matchers-should-validate-uniqueness-of-failing-with-scope
                </li>
                <li>
                  http://stackoverflow.com/questions/22815009/add-a-reference-column-migration-in-rails-4
                </li>
                <li>
                  http://stackoverflow.com/questions/14415857/rails-update-column-works-but-not-update-attributes
                </li>
                <li>
                http://guides.rubyonrails.org/active_record_querying.html
                </li>
              </ul>
            </li>
          </ul>
      </li>
    </ul>
  </div>

  <div class='col-md-6'>
    <div class="text-center">
    <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30560.850821222513!2d-3.0079794!3d16.77138355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe17ce977cbc8733%3A0x546f01bc8958b7c6!2sTimbuktu%2C+Mali!5e0!3m2!1sen!2sus!4v1441847002744" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
    </div>
  </div>
</div>
