<%= render 'shared/content_title', title: 'Home Page' %>

<div class="jumbotron">
  <h1>Welcome to MyStore</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

</br>
<div class="text-center">
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30560.850821222513!2d-3.0079794!3d16.77138355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe17ce977cbc8733%3A0x546f01bc8958b7c6!2sTimbuktu%2C+Mali!5e0!3m2!1sen!2sus!4v1441847002744" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
</div>
