<%= render 'shared/content_title', title: 'Home Page' %>

<div class="jumbotron">
  <h1>Welcome to MyStore</h1>
  <p>To checkout the products click the store link. For information about the creation of this site, see FAQ.</p>
</div>
