<%= render 'shared/content_title', title: 'Home Page' %>

<div class="jumbotron">
  <h1>Welcome to MyStore</h1>
  <p>To checkout the products click the store link. For information about the creation of this site, see FAQ.</p>
</div>

<blockquote class="pull-right">
  <p>This online store is great. I was able to find everything that I wanted.</p>
  <small>Fictional User1 <cite title="Source Title">Fictional Source</cite></small>
</blockquote>

<blockquote class="col-sm-12">
  <p>MyStore is the future of shopping!</p>
  <small>Fictional User2 <cite title="Source Title">Fictional Source</cite></small>
</blockquote>
