development:
  adapter: postgresql
  encoding: unicode
  database: twill-store_development
  pool: 5
  username: YOUR_USERNAME
  password: YOUR_PASSWORD

test:
  adapter: postgresql
  encoding: unicode
  database: twill-store_test
  pool: 5
  username: YOUR_USERNAME
  password: YOUR_PASSWORD
